<h1>Answer ONE Question</h1>
<h3>#SeekHarmony</h3>

<%= form_for @song do |form| %>
  <div class="form-group">
    <%= form.label :Do_you_like_the_artist_voice %>
    <%= form.text_field :answer, class: "form-control" %>
  </div>

  <%= form.button 'Submit', class: "btn btn-success" %>
<% end %>

<div class="radio">
  <%= form.label :Do_you_like_the_artist_voice %>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>